@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

html,
body {
  height: 100vh;
}

.HomeTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 6em;
}

.Name {
  font-family: "Roboto", sans-serif;
  margin: 1em 0 0;
  color: #71eccbe4;
}

.Description {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.HomeContainer {
  width: 50%;
  margin: 0 auto;
}

.Intro {
  margin: 0;
  width: 60%;
  font-size: 1.4em;
}
