.LeftSidePanel {
  bottom: 0px;
  left: auto;
  z-index: 10;
  right: 40px;
  position: fixed;
  width: 40px;
}

.Email {
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

.Email a {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  padding: 10px;
  margin: 20px auto;
  font-size: 1.2em;
}

.Email a:link {
  text-decoration: none;
  color: #52b69a;
}

.Email a:visited {
  color: #52b69a;
}

.Email a:hover {
  color: #71eccbe4;
  transform: translateY(-10px);
}

.Email::after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  margin: 0px auto;
  background-color: #52b69a;
}
