.LeftSidePanel {
    width: 40px;
position: fixed;
bottom: 0px;
left: auto;
right: 40px;
z-index: 10;

}

.Email {
    display: flex;
flex-direction: column;
-moz-box-align: center;
align-items: center;
position: relative;

}

.Email a {
    margin: 20px auto;
padding: 10px;
font-family: 'Courier New', Courier, monospace;
letter-spacing: 0.1em;
writing-mode: vertical-rl;
text-decoration-style: none;
}

.Email a:link {
    text-decoration: none;
    color: #52b69a;
}

.Email a:visited {
    color: #52b69a;
} 
