@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.HomeTitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Name {

    font-family: 'Roboto', sans-serif;
    
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 300;
  margin-bottom: 20px;
}

.Intro {
    font-family: 'Roboto', sans-serif;

}
section {
    text-align: center;
}


