@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.HomeTitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Name {

    font-family: 'Roboto', sans-serif;
    
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 300;
  margin-bottom: 20px;
}

.Intro {
    font-family: 'Roboto', sans-serif;

}
section {
    text-align: center;
}

.LeftSidePanel {
    width: 40px;
position: fixed;
bottom: 0px;
left: auto;
right: 40px;
z-index: 10;

}

.Email {
    display: flex;
flex-direction: column;
-moz-box-align: center;
align-items: center;
position: relative;

}

.Email a {
    margin: 20px auto;
padding: 10px;
font-family: 'Courier New', Courier, monospace;
letter-spacing: 0.1em;
writing-mode: vertical-rl;
text-decoration-style: none;
}

.Email a:link {
    text-decoration: none;
    color: #52b69a;
}

.Email a:visited {
    color: #52b69a;
} 

