.RightSidePanel {
    width: 40px;
position: fixed;
bottom: 0px;
left: 40px;
right: auto;
z-index: 10;

}

.SocialContacts {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.SocialContacts li {
    list-style: none;
    margin: .75em
}

.SocialContacts li a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

